
/* Style for the page body
 * (the wrapper around all the other stuff)
*/
body {
    margin: 0;
}

/* Style for the page header */
h1 {
    text-align: center;
    background-color: darkblue;
    color: white;
    padding: 16px;
}

/** Style for the "Hello World" message in Step 0 */
.hello-msg {
    text-align: center;
    font-size: 32px;
}
